body {
  margin: 0px
}

.main{
  min-height: 100vh;
}

.leaflet-container {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
}

.containerSlider {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: white;
}

.headline-reel {
  height: 650px; 
  margin: 0 auto;
}

.headline-reel img{
  height: 350px; 
}

.home {
  background-size: 2000% 2000%;
  background-color: white;
} 

.appBar {
  background-color: #004D40
} 

.meander-logo {
  width: 250px
}

.google-button {
  width:175px
}

.archives-banner {
  width: 100%;
  height: 100%
}

.home-root {
  background-color: #004D40;
  min-height: calc(100vh - 64px);
  
}