body {
  margin: 0px
}

.main{
  min-height: 100vh;
}

.meander-logo {
  width: 250px
}

.home-root {
  background-color: #004D40;
  min-height: calc(100vh - 64px - 56px);
  color: white;
}

.appBar {
  background-color: #004D40
} 

.google-button {
  width:175px
}

.leaflet-container {
  min-height: calc(100vh - 64px - 56px);
  width: 100%;
  margin: 0 auto;
}

.synopsis-page {
  min-height: calc(100vh - 64px - 56px);
  width: 100%;
  margin: 0 auto;
}

.slick-track {
  min-height: calc(100vh - 64px - 80px);  
}

.headline-reel {
  height:510px;
}
.headline-reel img{
  width: 375px; 
}

.containerSlider {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: white;
}

.archives-banner {
  width: 100%;
  height: 100%
}

.progress-next {
  margin: 20px;
}