.leaflet-container {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
}

.containerSlider {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: white;
}

.headline-reel {
  height: 600px; 
}

.headline-reel img{
  height: 350px; 
}

.home {
  background-size: 2000% 2000%;
  background-color: #004D40;

} 

.appBar {
  background-color: #004D40
} 

.meander-logo {
  width: 250px
}